<table class="table" id="contracts-table">
  <thead class="thead-default">
    <tr>
      <th class="small-header">ID</th>
      <th>Договір (реквізити)</th>
      <th>Платник, отримувач</th>
      <th class="small-header">Підписаний?</th>
      <th class="small-header">Прийнятий?</th>

      <th>Відповідальний користувач</th>
      <th>Ким створено</th>

      <th>Нагадування</th>

      <th>Скан, текст</th>
      <th>Керування</th>
    </tr>
    <tr>
      <th><input type="text" class="filters" data-filter-on="contract-id"></th>
      <th><input type="text" class="filters" data-filter-on="contract-type-name"></th>
      <th><input type="text" class="filters" data-filter-on="contract-payer-name"></th>
      <th><input type="text" class="filters" data-filter-on="contract-is-active"></th>
      <th><input type="text" class="filters" data-filter-on="contract-is-taken"></th>

      <th><input type="text" class="filters" data-filter-on="contract-responsible-user-name"></th>
      <th><input type="text" class="filters" data-filter-on="contract-creator-user-name"></th>

      <th><input type="text" class="filters" data-filter-on="reminder-type-name"></th>

      <th><input type="text" class="filters" data-filter-on="contract-file-filename"></th>
      <th><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i><i class="fa fa-info-circle fa-2x" aria-hidden="true" data-toggle="tooltip" title="Фільтри. Активним може бути тільки один фільтр (його підсвічено). Для буь-якого значення використовується символ '.'"></i></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr data-entityId="<%= contract.id %>">
        <td class="contract-id" ><%= contract.id %></td>
        
        <td class="contract-type-name" ><%= contract.type.name %>, 
        <%= contract.name %>, 
        № <%= contract.number %>, 
        на <%= contract.sum %> грн., 
        від <%= contract.from_date.strftime("%d.%m.%Y") if contract.from_date %>, 
        до <%= contract.to_date.strftime("%d.%m.%Y") if contract.to_date %>
        </td>

        <td class="contract-payer-name" > 
          <p> <b>платник:</b> <%= contract.payer.name %> </p>
          <p> <b>отримувач:</b> <%= contract.recipient.name %> </p>
        </td> 

        <td class="contract-is-active" >
          <p> <%= yn contract.is_signed %> </p>
        </td>

        <!-- td class="contract-is-taken" >
          <p> <%= yn contract.is_taken_as_original %> </p>
        </td -->

        <td class="contract-is-taken">
            <span><%= yn contract.is_taken_as_original %></span>
            <%= take_button contract, "Прийняти" %>
            <%= 
              # untake_button akt, "Відмінити" 
            %>            
        </td>        

        <!-- <td><%= contract.is_deleted %></td> -->
        <td class="contract-responsible-user-name" ><%= link_to contract.responsible_user.name, user_path(contract.responsible_user.id) %></td>
        <td class="contract-creator-user-name" ><%= link_to contract.creator_user.name, user_path(contract.creator_user.id) %></td>
        
        <td class="reminder-type-name" >
          <% contract.reminders.each do |r| %>
            <%= link_to "#{r.reminder_type.name} #{r.activeness}", reminder_path(r) %>
          <% end %>
          
          <%= tag.pre link_to "Додати", new_reminder_path(contract_id: contract.id) %>
        </td>


        <td class="contract-file-filename" >
          <% if contract.scanfiles %>
            <% contract.scanfiles.each do |sf| %>
               <%= link_to sf.file.filename, sf.url %> <br/>
            <% end %>
          <% end %>
          <% if contract.textfiles %>
            <% contract.textfiles.each do |tf| %>
               <%= link_to tf.file.filename, tf.url %> <br/>
            <% end %>
          <% end %>
        </td>

        <td>

          <%= management_links( contract ) %>

          <!-- %= button_to "C r #{ DateTime.now.strftime("%d.%m.%Y") }", check_reminders_contract_path(id: contract.id, date: DateTime.now.strftime("%d.%m.%Y")) % -->

        </td>
      </tr>
    <% end %>
  </tbody>
</table>