<table class="table" id="contracts-table">
  <thead class="thead-default">
    <tr>
      <th>ID</th>

      <th>Тип, нйменування, номер, сума, від дати, до дати (дісний до)</th>

      <th>Платник, 
      отримувач</th>
      <th>Стан</th>
      <!-- <th>Is deleted</th> -->
      <th>Відповідальний користувач</th>
      <th>Ким створено</th>

      <th>Нагадування</th>

      <th>Скан</th>
      <th>Текст</th>
      <th>Керування</th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr data-contractId="<%= contract.id %>">
        <td><%= contract.id %></td>
        
        <td><%= contract.type.name %>, 
        <%= contract.name %>, 
        № <%= contract.number %>, 
        на <%= contract.sum %> грн., 
        від <%= contract.from_date.strftime("%d.%m.%Y") %>, 
        до <%= contract.to_date.strftime("%d.%m.%Y") %>, 
        (<%= contract.till %>)</td>

        <td> 
          <p> <b>платник:</b> <%= contract.payer.name %> </p>
          <p> <b>отримувач:</b> <%= contract.recipient.name %> </p>
        </td> 
        <td>

          <p> <b>Активний?:</b> <%= contract.is_active %> </p>
          <p> <b>Підписаний?:</b> <%= contract.is_signed %> </p>

         </td>
        <!-- <td><%= contract.is_deleted %></td> -->
        <td><%= link_to contract.responsible_user.name, user_path(contract.responsible_user.id) %></td>
        <td><%= link_to contract.creator_user.name, user_path(contract.creator_user.id) %></td>
        
        <td>
          <% contract.reminders.each do |r| %>
            <%= link_to r.reminder_type.name, reminder_path(r) %>
          <% end %>
          
          <%= tag.pre link_to "Add New", new_reminder_path(contract_id: contract.id) %>
        </td>


        <td>
          <% if contract.scanfiles %>
            <% contract.scanfiles.each do |sf| %>
               <%= link_to sf.file.filename, sf.url %> <br/>
            <% end %>
          <% end %>
        </td>
        <td> 
          <% if contract.textfiles %>
            <% contract.textfiles.each do |tf| %>
               <%= link_to tf.file.filename, tf.url %> <br/>
            <% end %>
          <% end %>
        </td>

        <td>

          <%= management_links( contract ) %>

          <%= button_to "Check reminders on date #{ DateTime.now.strftime("%d.%m.%Y") }", check_reminders_contract_path(id: contract.id, date: DateTime.now.strftime("%d.%m.%Y")) %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>