<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> помилки виникли пи спробі зберегти інформацію:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid contract-form" data-entityId="<%= contract.id%>">

    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :type_id, 'Тип договору: ' %></div>
      <div class="col-sm-2">
        <!-- form.collection_select :type_id, @types, :id, :name, {}, {class: "form-control", onChange: "console.log(this)" } -->

        <%= form.select(:type_id, 
            options_for_select(@types.map {|t| [t.name, t.id, {'data-contract-name': t.typical_contract_name }]}, contract.type_id),
            {},
            {class: "form-control", onChange: "handleTypeChange(this)"})
         %>

      </div>
    </div>

    <div class="field row">
      
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :name, 'Назва договору: ' %></div>
      <div class="col-sm-3">
        <%= form.text_field :name, id: :contract_name, class: "form-control" %>
      </div>

      <div class="col-sm-1 text-sm-right col-form-label" ><%= form.label :number, 'Номер: ' %></div>
      <div class="col-sm-2">
        <%= form.text_field :number, id: :contract_number, class: "form-control" %>
      </div>
    </div>


    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :from_date, 'Від (дата): ' %></div>
      <div class="col-sm-2">
        <%= form.text_field :from_date, id: :contract_from_date, class: "form-control datepicker" %>
      </div>
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :to_date, "Діє до дати: " %></div>
      <div class="col-sm-2">
        <%= form.text_field :to_date, id: :contract_to_date, class: "form-control datepicker" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" > <%= form.label :sum, 'Сума договору: ' %></div>
      <div class="col-sm-2">
        <%= form.text_field :sum, id: :contract_sum, class: "form-control" %>
      </div>
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :sum_detail, "разово/на рік/місяць/інше: " %></div>
      <div class="col-sm-2">
        <%= form.text_field :sum_detail, id: :contract_sum_detail, class: "form-control" %>
      </div>      
    </div>


<!--     <div class="field row">
      <div class="col-sm-2 text-sm-right"> <%= form.label :till, "Діє до (умови): " %></div>
      <div class="col-sm-6"><%= form.text_field :till, id: :contract_till %></div>
    </div> -->


    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :payer_id, 'Платник:' %></div>
      <div class="col-sm-2">
          <%= form.collection_select :payer_id, @companies, :id, :name_edrpou, {}, {class: "form-control companies-select", id: "payer-select"} %>
      </div>
      <div class="col-sm-1 text-sm-left">
          <%= render 'new_company_modal', p: {
                                              add_to_selects_class: 'companies-select',
                                              add_to_select_id: 'payer-select', 
                                              dialog_id: 'add-payer'}
          %>
      </div>

      <div class="col-sm-1 text-sm-right col-form-label"><%= form.label :recipient_id, "Отримувач:" %></div>
      <div class="col-sm-2"><%= form.collection_select :recipient_id, @companies, :id, :name_edrpou, {}, {class: "form-control companies-select", id: "recipient-select"}  %></div>
      <div class="col-sm-1 text-sm-left">
          <%= render 'new_company_modal', p: {
                                              add_to_selects_class: 'companies-select',
                                              add_to_select_id: 'recipient-select',
                                              dialog_id: 'add-recipient'}
          %>
      </div>

    </div>


    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :is_signed, "Підписаний?:" %></div>
      <div class="col-sm-1"><%= form.check_box :is_signed, id: :contract_is_signed %></div>
    </div>


    <div class="field row contract-is-taken ">
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :is_taken_as_original, "Прийнято бухгалтером?:" %></div>
      <div class="col-sm-1">
        <span><%= yn @contract.is_taken_as_original %></span>
      </div>
      <div class="col-sm-1">
        <%= untake_button @contract, "Відмінити прийняття" %>
      </div>

    </div>  


<!--     <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :is_active, "Активний?:" %></div>
      <div class="col-sm-1"><%= form.check_box :is_active, id: :contract_is_active %></div>
    </div>
 -->
    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :responsible_user_id, "Відповідальна особа:" %></div>
      <div class="col-sm-2"><%= form.collection_select :responsible_user_id, @responsible_users, :id, :name, {}, {class: "form-control"} %></div>      

      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :creator_user_id, "Хто зареєстрував:" %></div>
      <div class="col-sm-2"><span class="form-control"><%= @creator_user.name %> ( id: <%= @creator_user.id %>)</span></div>      
    </div>



    <div class="field row">
      <div class="col-sm-2 text-sm-right"><%= form.label :scanfiles, "Сканокопія:"%></div>
      <%= files_fields(form, @contract, "col-sm-5", :scanfiles) %>
    </div>


    <div class="field row">
      <div class="col-sm-2 text-sm-right"><%= form.label :textfiles, "Шаблон/текст:" %></div>
      <%= files_fields(form, @contract, "col-sm-5", :textfiles) %>
    </div>


    <div class="field row">
      <div class="col-sm-2 text-sm-right">  <%= form.label :reminders, "Пов’язані нагадування: "%> </div>

      <%= render 'reminderable/reminders_management', reminderable: @contract %>

    </div>
    <div class="field row">
      <div class="col-sm-2 text-sm-right"> <%= form.label :preferences, "Примітки: " %></div>
      <div class="col-sm-6"><%= form.text_area :preferences, id: :reminderable_preferences, class: "form-control" %></div>
    </div> 

  </div>



  <div class="actions">
    <div class="col-sm-2 text-sm-right">
      <%= form.submit 'Зберегти', class: 'btn btn-primary' %>
    </div>
  </div>

  
  <div class="col-sm-1 text-sm-right"> <%= form.label :history, "Історія: " %></div>
  <div class="col-sm-3">
    <%= form.text_area :history, id: :reminderable_history, class: "form-control history", disabled: "disabled" %>
  </div>


<% end %>
