<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> помилки виникли пи спробі зберегти інформацію:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid contract-form">

    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" > <%= form.label :type_id, 'Тип договору: ' %></div>
      <div class="col-sm-2">
        <%= form.collection_select :type_id, @types, :id, :name, {}, {class: "form-control"} %>
      </div>
    </div>

    <div class="field row">
      
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :name, 'Назва договору: ' %></div>
      <div class="col-sm-3">
        <%= form.text_field :name, id: :contract_name, class: "form-control" %>
      </div>

      <div class="col-sm-1 text-sm-right col-form-label" >  <%= form.label :number, 'Номер: ' %></div>
      <div class="col-sm-2">
        <%= form.text_field :number, id: :contract_number, class: "form-control" %>
      </div>
      </div>
    </div>


    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" > <%= form.label :from_date, 'Від (дата): ' %></div>
      <div class="col-sm-2">
        <%= form.text_field :from_date, id: :contract_from_date, class: "form-control datepicker" %>
      </div>
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :to_date, "Діє до дати: " %></div>
      <div class="col-sm-2">
        <%= form.text_field :to_date, id: :contract_to_date, class: "form-control datepicker" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" > <%= form.label :sum, 'Сума договору: ' %></div>
      <div class="col-sm-2"><%= form.text_field :sum, id: :contract_sum, class: "form-control" %></div>
    </div>


<!--     <div class="field row">
      <div class="col-sm-2 text-sm-right"> <%= form.label :till, "Діє до (умови): " %></div>
      <div class="col-sm-6"><%= form.text_field :till, id: :contract_till %></div>
    </div> -->


    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :payer_id, 'Платник:' %></div>
      <div class="col-sm-2"><%= form.collection_select :payer_id, @companies, :id, :name, {}, {class: "form-control"} %></div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right"><%= form.label :recipient_id, "Отримувач:" %></div>
      <div class="col-sm-6"><%= form.collection_select :recipient_id, @companies, :id, :name %></div>
    </div>


    <div class="field row">
      <div class="col-sm-2 text-sm-right"><%= form.label :is_signed, "Підписаний?:" %></div>
      <div class="col-sm-6"><%= form.check_box :is_signed, id: :contract_is_signed %></div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right"><%= form.label :is_active, "Активний?:" %></div>
      <div class="col-sm-6"><%= form.check_box :is_active, id: :contract_is_active %></div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right"><%= form.label :responsible_user_id, "Відповідальна особа:" %></div>
      <div class="col-sm-6"><%= form.collection_select :responsible_user_id, @responsible_users, :id, :name %></div>      
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right"><%= form.label :creator_user_id, "Хто зареєстрував:" %></div>
      <div class="col-sm-6"><%= form.collection_select :creator_user_id, @creator_users, :id, :name %></div>      
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right">
        <%= form.label :scanfiles do  %>
           Сканокопія:
        <% end %>
      </div>
      <div class="col-sm-5">
        <% if @contract.scanfiles %>      
          <% @contract.scanfiles.each do |sf| %>
            <%= link_to "file: #{ sf.file.filename} ", sf.url %>
          <% end %>
        <% end %> 
        <%= form.file_field :scanfiles, title: 'Замінити', class: 'btn-info', multiple: true %>
        <br/> <%= form.check_box :remove_scanfiles %> Очистити (видалити) всі скани  
      </div>

    </div>
    <div class="field row">
      <div class="col-sm-2 text-sm-right"><%= form.label :textfiles, "Шаблон/текст:" %></div>
      <div class="col-sm-5">
        <% if @contract.textfiles %>      
          <% @contract.textfiles.each do |sf| %>
            <%= link_to "file: #{ sf.file.filename} ", sf.url %>
          <% end %>
        <% else %>
          <%= 'Інформації немає' %>
        <% end %> 
        <%= form.file_field :textfiles, title: 'Замінити', class: 'btn-info', multiple: true %>
        <br/> <%= form.check_box :remove_textfiles %> Очистити (видалити) всі шаблони/тексти
      </div>
    </div>

  </div>



  <div class="actions">
    <div class="col-sm-2 text-sm-right">
      <%= form.submit 'Зберегти', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
