<p id="notice"><%= notice %></p>

<h1>Contracts</h1>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>ID</th>

      <th>Type
      Name
      Number
      Sum
      From date
      To date
      Till</th>

      <th>Payer</th>
      <th>Recipient</th>
      <th>Is signed</th>
      <th>Is active</th>
      <!-- <th>Is deleted</th> -->
      <th>Responsible user</th>
      <th>Creator user</th>

      <th>Reminders</th>

      <th>Scan</th>
      <th>Text</th>
      <th>Нагадування</th>
      <th>Керування</th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.id %></td>
        
        <td><%= contract.type.name %>
        <%= contract.name %>
        № <%= contract.number %>
        на <%= contract.sum %> грн.
        від <%= contract.from_date.strftime("%d.%m.%Y") %>
        до <%= contract.to_date.strftime("%d.%m.%Y") %>
        (<%= contract.till %>)</td>

        <td><%= contract.payer.name %></td>
        <td><%= contract.recipient.name %></td>
        <td><%= contract.is_signed %></td>
        <td><%= contract.is_active %></td>
        <!-- <td><%= contract.is_deleted %></td> -->
        <td><%= contract.responsible_user.name %></td>
        <td><%= contract.creator_user.name %></td>
        
        <td>
          <% contract.reminders.each do |r| %>
            <%= r.reminder_type.name %>
          <% end %>
          
          <%= link_to "New", new_reminder_path(contract_id: contract.id) %>
        </td>


        <td><%= contract.scan_path %></td>
        <td><%= contract.text_path %></td>

        <td>
          <%= button_to "Check reminders on date #{ DateTime.now.strftime("%d.%m.%Y") }", check_reminders_path(id: contract.id, date: DateTime.now.strftime("%d.%m.%Y")) %>
        </td>

        <td>
          <%= link_to 'Show', contract %>
          <%= link_to 'Edit', edit_contract_path(contract) %>
          <%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contract', new_contract_path %>
