<div class="container-fluid">
  <div class="row justify-content-start align-items-end">
    <div class="col-sm-4">
      <p id="notice"><%= notice %></p>
      <h1>Договори</h1>
    </div> <!-- col -->

    <div class="col-sm-4">
      <input type="radio" name="listType" value="all" id="radio-contracts-all" checked> всі що мені доступні
      <%= link_to 'alllll', all_contracts_path %>
      <br/>
      <input type="radio" name="listType" value="mine" id=radio-contracts-mine> тільки мої
      <%= link_to 'mineeeee', mine_contracts_path %>





    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-12">

    <%= render 'contracts_table' %>
      
    </div> <!-- col -->
  </div> <!-- row -->


  <div class="row">
    <div class="col-sm-12">
      <pre> <%= link_to 'New Contract', new_contract_path %> </pre>
    </div> <!-- col -->
  </div> <!-- row -->

</div>