<div class="container-fluid">
  <div class="field row">
    <div class="col-sm-2 text-sm-right">
      <%= fa_link_to('-arrow-left', contract_path(@contract.previous), class: "management-button") {"Попередній"} if @contract.previous %>
    </div>
    <div class="col-sm-3 text-sm-center"><h2> Перегляд договору ( id: <%= @contract.id %>)</h2></div>
    <div class="col-sm-2 text-sm-left">
      <%= fa_link_to('-arrow-right', contract_path(@contract.next), class: "management-button") {"Наступний"} if @contract.next%>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-5">


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Тип договору: ' %></div>
        <div class="col-sm-7"><%= @contract.type.name %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Назва договору: ' %></div>
        <div class="col-sm-7"><%= @contract.name %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Номер: ' %></div>
        <div class="col-sm-7"><%= @contract.number %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Сума договору: ' %></div>
        <div class="col-sm-7"><%= @contract.sum %> <%= @contract.sum_detail %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'від (дата): ' %></div>
        <div class="col-sm-7"><%= @contract.from_date.try(:strftime, "%d.%m.%Y") %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label "діє до дати: " %></div>
        <div class="col-sm-7"><%= @contract.to_date.try(:strftime, "%d.%m.%Y") %></div>
      </div>

<!--       <div class="field row">
        <div class="col-sm-5 text-sm-right"> <%= tag.label "діє до (умови): " %></div>
        <div class="col-sm-7"><%= @contract.till %></div>
      </div> -->


      <div class="field row">
        <div class="col-sm-5 text-sm-right"><%= tag.label 'Платник' %></div>
        <div class="col-sm-7"><%= @contract.payer.name %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right"><%= tag.label "Отримувач" %></div>
        <div class="col-sm-7"><%= @contract.recipient.name %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right"><%= tag.label "Підписаний?" %></div>
        <div class="col-sm-7"><%= yn @contract.is_signed %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right"><%= tag.label "Прийнято бухгалтером?" %></div>
        <div class="col-sm-7"><%= yn @contract.is_taken_as_original %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right"><%= tag.label "Відповідальна особа:" %></div>
        <div class="col-sm-7"><%= @contract.responsible_user.name %></div>      
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right"><%= tag.label "Хто зареєстрував:" %></div>
        <div class="col-sm-7"><%= @contract.creator_user.name %></div>      
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right"><%= tag.label "Сканокопія:" %></div>
        <div class="col-sm-7">
          <% if @contract.scanfiles %>      
            <% @contract.scanfiles.each do |sf| %>
              <%= link_to "file: #{ sf.file.filename}, ", sf.url %>
            <% end %>
          <% end %>        
        </div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right"><%= tag.label "Шаблон/текст:" %></div>
        <div class="col-sm-7">
          <% if @contract.textfiles %>      
            <% @contract.textfiles.each do |sf| %>
              <%= link_to "file: #{ sf.file.filename}, ", sf.url %>
            <% end %>
          <% end %>        
        </div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right"><%= tag.label "Пов’язанні нагадування:" %></div>
        <div class="col-sm-7">
          <% if @contract.reminders %>      

              <% @contract.reminders.each do |r| %>
                <li>
                  <%= link_to r.reminder_type.name+" (id:#{r.id.to_s})", reminder_path(r.id) , class: "management-button" %><br/>
                </li>
              <% end %>

          <% end %>        
        </div>
      </div>


      <%= render 'bottom_navigation_area', entity:@contract, links: {edit: true} %>
      <hr> <h3>Додаткова інформація</h3>

      <div class="field row">
        <div class="col-sm-5 text-sm-right"><%= tag.label "Пов’язанні акти:" %></div>
        <div class="col-sm-7">
          <% if @contract.akts && @contract.akts.count>0 %>      
            <% @contract.akts.each do |a| %>
              <li>
                <%= link_to " #{a.extended_info} (id:#{a.id.to_s})", akt_path(a.id) , class: "management-button" %>
              </li>
            <% end %>
          <% else %>
            Немає
          <% end %>

        </div>
      </div>


    </div>

    <div class="col-sm-7 pdf-area">

      <% if @contract.scanfiles %>      
        <% @contract.scanfiles.each do |sf| %>
          <object data=" <%=  sf.url %>" type="application/pdf" width="750px" height="750px">
            <embed src="<%=  sf.url %>" type="application/pdf">
                Не можу відобразити файл  <%= link_to sf.url%>
                Або цьго файлу не існує в архиві, або браузер не підтримує відображення pdf
            </embed>
          </object>
        <% end %>
      <% end %>  

    </div>
  </div>
</div>    


