<%= form_with(model: reminder, local: true) do |form| %>
  <% if reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid remnder-form">


    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :reminder_type_id, 'Тип нагадування: ' %></div>
      <div class="col-sm-2">
        <%= form.collection_select :reminder_type_id, @reminder_types, :id, :name, {}, {class: "form-control"} %>
      </div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :message, 'Зміст нагадування: ' %></div>
      <div class="col-sm-3">
        <%= form.text_area :message, id: :reminder_message, class: "form-control" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :dd, 'день: ' %></div>
      <div class="col-sm-1">
        <%= form.text_field :dd, id: :reminder_dd, class: "form-control" %>
      </div>


      <div class="col-sm-1 text-sm-right col-form-label" ><%= form.label :mm, 'місяць: ' %></div>
      <div class="col-sm-1">
        <%= form.text_field :mm, id: :reminder_mm, class: "form-control" %>
      </div>



      <div class="col-sm-1 text-sm-right col-form-label" ><%= form.label :yyyy, 'рік: ' %></div>
      <div class="col-sm-1">
        <%= form.text_field :yyyy, id: :reminder_yyyy, class: "form-control" %>
      </div>
    </div>

    <div class="field row">

      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :dofw, 'день тижня: ' %></div>
      <div class="col-sm-1">
        <%= form.text_field :dofw, id: :reminder_dofw, class: "form-control" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :begins, 'Діє від (дата): ' %></div>
      <div class="col-sm-2">
        <%= form.text_field :begins, id: :reminder_begins, class: "form-control datepicker" %>
      </div>

      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :ends, "Діє до дати: " %></div>
      <div class="col-sm-2">
        <%= form.text_field :ends, id: :reminder_ends, class: "form-control datepicker" %>
      </div>
    </div>



    <div class="field">
      <%= form.label :is_active %>
      <%= form.check_box :is_active, id: :reminder_is_active %>
    </div>


    <div class="field">
      <%= form.label :reminderable_id %>
      <%= form.text_field :reminderable_id, id: :reminder_reminderable_type %>
    </div>
    <div class="field">
      <%= form.label :reminderable_type %>
      <%= form.text_field :reminderable_type, id: :reminder_reminderable_type %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>

