<%= form_with(model: reminder, local: true) do |form| %>
  <% if reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid remnder-form">


    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :reminder_type_id, 'Тип нагадування: ' %></div>
      <div class="col-sm-2">
        <%= form.collection_select :reminder_type_id, @reminder_types, :id, :name, {}, {class: "form-control"} %>
      </div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :message, 'Зміст нагадування: ' %></div>
      <div class="col-sm-3">
        <%= form.text_area :message, id: :reminder_message, class: "form-control" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :dd, 'день: ' %></div>
      <div class="col-sm-1">
        <%= form.text_field :dd, id: :reminder_dd, class: "form-control" %>
      </div>


      <div class="col-sm-1 text-sm-right col-form-label" ><%= form.label :mm, 'місяць: ' %></div>
      <div class="col-sm-1">
        <%= form.text_field :mm, id: :reminder_mm, class: "form-control" %>
      </div>



      <div class="col-sm-1 text-sm-right col-form-label" ><%= form.label :yyyy, 'рік: ' %></div>
      <div class="col-sm-1">
        <%= form.text_field :yyyy, id: :reminder_yyyy, class: "form-control" %>
      </div>
    </div>

    <div class="field row">

      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :dofw, 'день тижня: ' %></div>
      <div class="col-sm-1">
        <%= form.text_field :dofw, id: :reminder_dofw, class: "form-control" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label" ><%= form.label :begins, 'Діє від (дата): ' %></div>
      <div class="col-sm-2">
        <%= form.text_field :begins, id: :reminder_begins, class: "form-control datepicker" %>
      </div>

      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :ends, "Діє до дати: " %></div>
      <div class="col-sm-2">
        <%= form.text_field :ends, id: :reminder_ends, class: "form-control datepicker" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :is_active, "Активний?:" %></div>
      <div class="col-sm-1"><%= form.check_box :is_active, id: :reminder_is_active %></div>
    </div>




    <div class="field row">
      <div class="col-sm-2 text-sm-right col-form-label">
        <%= form.label :select_contract_akt, 'Нагадування до:' %>
      </div>

      <div class="col-sm-1">

        <%= form.radio_button :reminderable_type, 'contract' %>
        <%= form.label :reminderable_type_contract , 'Договору' %>
      </div>

      <div class="col-sm-1">
        <%= form.radio_button :reminderable_type, 'akt' %>
        <%= form.label :reminderable_type_akt, 'Акту' %>


      </div>

    </div>




    <div class="field row" id="row-contracts">
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :contract_id, "Догогвір:" %></div>
      <div class="col-sm-2">
        <%= 
          form.collection_select :contract_id, @contracts, :id, :name, {}, {class: "form-control"}  
        %>
        
      </div>
    </div>

    <div class="field row" id="row-akts">
      <div class="col-sm-2 text-sm-right col-form-label"><%= form.label :akt_id, "Акт:" %></div>
      <div class="col-sm-2">
        <%= 
          form.collection_select :akt_id, @akts, :id, :number , {}, {class: "form-control"}  
        %>
      </div>
    </div>





    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>

