<table class="table" id="reminders_table">
  <thead class="thead-default">
    <tr>
      <th>ID</th>
      <th>Документ (тип, номер, ID)</th>
      <th>Відповідальний</th>
      <th>Тип</th>
      <th>Повідомлення</th>
      <th>День</th>
      <th>Місяць</th>
<!--      <th>Рік</th> -->
      <th>День тижня</th>
<!--      <th>Місяць кварталу</th> -->
      <th>Початок</th>
      <th>Кінець</th>
      <th>Чи активне?</th>
      <th>Керування</th>
    </tr>
  </thead>

  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td>
          <%= reminder.id %>
        </td>

        <% if reminder.reminderable %>
          <td>
            <%= link_to(reminder.reminderable) do  %>
              <%= reminder.reminderable.doctype %> 
              <%= reminder.reminderable.try(:name)%> 
              №<%= reminder.reminderable.number %>
              від <%= reminder.reminderable.try(:from_date) %>
              (id: <%= reminder.reminderable.id %>)
            <% end %>
            <%= "до договору #{reminder.reminderable.contract.name}" if reminder.reminderable_type=='Akt' %>


            
          </td>
          <td><%= reminder.user.name %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>

        <td><%= reminder.reminder_type.name %></td>
        <td><%= reminder.message%></td>
        <td><%= reminder.dd if [2,3].include?(reminder.reminder_type_id) %></td>
        <td><%= reminder.mm if [2,3].include?(reminder.reminder_type_id) %></td>
<!--        <td><%= reminder.yyyy %></td> -->
        <td><%= reminder.dofw if [1].include?(reminder.reminder_type_id) %></td>
<!--        <td><%= reminder.moq if reminder.reminder_type_id == 1 %></td> -->
        <td><%= reminder.begins %></td>
        <td><%= reminder.ends %></td>
        <td><%= reminder.is_active %></td>
        <td><%= management_links(reminder) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


