<div class="container-fluid contract-form">
	<div class="field row">
		<div class="col-sm-2 text-sm-right">
			<%= fa_link_to('-arrow-left', edit_reminder_path(@reminder.previous), class: "management-button") {"Попередній"} if @reminder.previous %>
		</div>
		<div class="col-sm-3 text-sm-center"><h3> Редагування нагадування ( id: <%= @reminder.id %>)</h3></div>
		<div class="col-sm-2 text-sm-left">
			<%= fa_link_to('-arrow-right', edit_reminder_path(@reminder.next), class: "management-button") {"Наступний"} if @reminder.next%>
		</div>
	</div>
</div>


<%= render 'form', reminder: @reminder %>

<%= link_to 'Деталі', @reminder %> |
<%= link_to 'Назад', :back %>
