<p id="notice"><%= notice %></p>

<h1>Нагадування</h1>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>ID</th>
      <th>Документ (тип, номер, ID)</th>
      <th>Відповідальний</th>
      <th>Тип</th>
      <th>Повідомлення</th>
      <th>День</th>
      <th>Місяць</th>
      <th>Рік</th>
      <th>День тижня</th>
      <th>Місяць кварталу</th>
      <th>Початок</th>
      <th>Кінець</th>
      <th>Чи активне?</th>
      <th>Керування</th>
    </tr>
  </thead>

  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td>
          <%= reminder.id %>
        </td>

        <% if reminder.reminderable %>
          <td><%= reminder.reminderable.doctype %></td>
          <td><%= reminder.reminderable.responsible_user.name %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>

        <td><%= reminder.reminder_type.name %></td>
        <td><%= reminder.message%></td>
        <td><%= reminder.dd %></td>
        <td><%= reminder.mm %></td>
        <td><%= reminder.yyyy %></td>
        <td><%= reminder.dofw %></td>
        <td><%= reminder.moq %></td>
        <td><%= reminder.begins %></td>
        <td><%= reminder.ends %></td>
        <td><%= reminder.is_active %></td>
        <td><%= management_links(reminder) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reminder', new_reminder_path %>
