<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @reminder.reminder_type.name %>
</p>

<p>
  <strong>Dd:</strong>
  <%= @reminder.dd %>
</p>

<p>
  <strong>Mm:</strong>
  <%= @reminder.mm %>
</p>

<p>
  <strong>Yyyy:</strong>
  <%= @reminder.yyyy %>
</p>

<p>
  <strong>Dofw:</strong>
  <%= @reminder.dofw %>
</p>

<p>
  <strong>Moq:</strong>
  <%= @reminder.moq %>
</p>

<p>
  <strong>Begins:</strong>
  <%= @reminder.begins %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @reminder.ends %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @reminder.is_active %>
</p>

<p>
  <strong>Reminderable_type:</strong>
  <%= @reminder.reminderable_type %>
</p>
<p>
  <strong>Reminderable_id:</strong>
  <%= @reminder.reminderable_id %>
</p>

<%= link_to 'Редагувати', edit_reminder_path(@reminder) %> |
<%= link_to 'Назад', :back %>
