<div class="container-fluid">
  <div class="field row">
    <div class="col-sm-2 text-sm-right">
      <%= fa_link_to('-arrow-left', reminder_path(@reminder.previous), class: "management-button") {"Попередній"} if @reminder.previous %>
    </div>
    <div class="col-sm-3 text-sm-center"><h2> Перегляд договору ( id: <%= @reminder.id %>)</h2></div>
    <div class="col-sm-2 text-sm-left">
      <%= fa_link_to('-arrow-right', reminder_path(@reminder.next), class: "management-button") {"Наступний"} if @reminder.next%>
    </div>
  </div>
</div>



<div class="container-fluid">

  <div class="row">
    <div class="col-sm-5">


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Тип нагадування: ' %></div>
        <div class="col-sm-7"><%= @reminder.reminder_type.name %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'День: ' %></div>
        <div class="col-sm-7"><%= @reminder.dd %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Місяць: ' %></div>
        <div class="col-sm-7"><%= @reminder.mm %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Рік: ' %></div>
        <div class="col-sm-7"><%= @reminder.yyyy %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'День тижня: ' %></div>
        <div class="col-sm-7"><%= @reminder.dofw %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Початок: ' %></div>
        <div class="col-sm-7"><%= @reminder.begins %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Кінець: ' %></div>
        <div class="col-sm-7"><%= @reminder.ends %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Початок: ' %></div>
        <div class="col-sm-7"><%= @reminder.begins.strftime("%d.%m.%Y") %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Сума договору: ' %></div>
        <div class="col-sm-7"><%= @reminder.sum %>, <%= @reminder.sum_detail %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right"><%= tag.label "Пов’язані документи:" %></div>
        <div class="col-sm-7">
          <% if @reminder.reminders %>      
            <% @reminder.reminders.each do |r| %>
              <%= link_to r.reminder_type.name+" (id:#{r.id.to_s})", reminder_path(r.id)%><br/>

            <% end %>
          <% end %>        
        </div>
      </div>


      <div class="col-sm-12 text-sm-center">
        <%= link_to 'Редагувати', edit_reminder_path(@reminder) %> |
        <%= link_to 'Список нагадувань', reminders_path %>   
      </div>
    </div>

    </div>
  </div>
</div>    






<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%=  %>
</p>

<p>
  <strong>Dd:</strong>
  <%= %>
</p>

<p>
  <strong>Mm:</strong>
  <%=  %>
</p>

<p>
  <strong>Yyyy:</strong>
  <%=  %>
</p>

<p>
  <strong>Dofw:</strong>
  <%= %>
</p>

<p>
  <strong>Moq:</strong>
  <%=  %>
</p>

<p>
  <strong>Begins:</strong>
  <%=  %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @reminder.ends %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @reminder.is_active %>
</p>

<p>
  <strong>Reminderable_type:</strong>
  <%= @reminder.reminderable_type %>
</p>
<p>
  <strong>Reminderable_id:</strong>
  <%= @reminder.reminderable_id %>
</p>

<%= link_to 'Редагувати', edit_reminder_path(@reminder) %> |
<%= link_to 'Назад', :back %>
