<div class="container-fluid">
  <div class="field row">
    <div class="col-sm-2 text-sm-right">
      <%= fa_link_to('-arrow-left', reminder_path(@reminder.previous), class: "management-button") {"Попередній"} if @reminder.previous %>
    </div>
    <div class="col-sm-3 text-sm-center"><h2> Перегляд нагадування ( id: <%= @reminder.id %>)</h2></div>
    <div class="col-sm-2 text-sm-left">
      <%= fa_link_to('-arrow-right', reminder_path(@reminder.next), class: "management-button") {"Наступний"} if @reminder.next%>
    </div>
  </div>
</div>



<div class="container-fluid">

  <div class="row">
    <div class="col-sm-5">


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Тип нагадування: ' %></div>
        <div class="col-sm-7"><%= @reminder.reminder_type.name %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'День: ' %></div>
        <div class="col-sm-7"><%= @reminder.dd %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Місяць: ' %></div>
        <div class="col-sm-7"><%= @reminder.mm %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'День тижня: ' %></div>
        <div class="col-sm-7"><%= @reminder.dofw %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Діє від: ' %></div>
        <div class="col-sm-7"><%= @reminder.begins.strftime("%d.%m.%Y") %></div>
      </div>


      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Діє до: ' %></div>
        <div class="col-sm-7"><%= @reminder.ends.strftime("%d.%m.%Y") %></div>
      </div>



      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Активний? ' %></div>
        <div class="col-sm-7"><%= yn @reminder.is_active %></div>
      </div>

      <div class="field row">
        <div class="col-sm-5 text-sm-right" > <%= tag.label 'Накадування до документа' %></div>
        <div class="col-sm-7">
          <%= link_to @reminder.reminderable, class: "management-button" do  %>

            <%= @reminder.reminderable.doctype %> 
            на <%= @reminder.reminderable.sum %> грн. <%= "(#{@reminder.reminderable.sum_detail})" if (@reminder.reminderable.sum_detail and @reminder.reminderable.sum_detail!="")  %>
            від <%= @reminder.reminderable.from_date %>
            id: <%= @reminder.reminderable_id %>
          <% end %>

        </div>
      </div>


      <%= render 'bottom_navigation_area', entity:@reminder, links: {edit: true} %>          </div>

    </div>
  </div>
</div>
