<table class="table" id="events-table">
  <thead class="thead-default">
    <tr>
      <th>ID</th>
      <th>Повідомлення нагадування, (ID)</th>
      <th>Для користувача</th>
      <th>Відпр-ти емейл?</th>
      <th>Відпр-но разів</th>
      <th>Емейл адреса</th>
      <th>Текст емейл-листа</th>
      <th>Дата нагадування</th>
      <th>Виконано? (Звіт)</th>
      <th>Керування</th>
    </tr>
    <tr>
      <th><input type="text" class="filters" data-filter-on="event-id"></th>
      <th><input type="text" class="filters" data-filter-on="reminder-text"></th>
      <th><input type="text" class="filters" data-filter-on="user-name"></th>
      <th><input type="text" class="filters" data-filter-on="is-to-send"></th>
      <th><input type="text" class="filters" data-filter-on="sent-times"></th>
      <th><input type="text" class="filters" data-filter-on="email-address"></th>
      <th><input type="text" class="filters" data-filter-on="email-text"></th>
      <th><input type="text" class="filters" data-filter-on="on-date"></th>
      <th><input type="text" class="filters" data-filter-on="done-by" id="default-filter"></th>
      <th><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i><i class="fa fa-info-circle fa-2x" aria-hidden="true" data-toggle="tooltip" title="Активним може бути тільки один фільтр (його підсвічено). Для буь-якого значення використовується символ '.'"></i></th>
    </tr>

  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr data-entityId="<%= event.id%>">
        <td class="event-id"><%= event.id %></td>
        <td class="reminder-text"><%= 
          if event.reminder
            event.reminder.message+" ("+event.reminder_id.to_s+")"
          else
            "Нагадування не знайдено. Скоріш за все, його видалено"
          end
          %>
        </td>

        <td class="user-name"><%= event.user.name %></td>
        <td class="is-to-send"><%= yn event.to_send%></td>
        <td class="sent-times"><%= event.sent_times.to_s %></td>
        <td class="email-address"><%= event.email_address %></td>
        <td class="email-text"><%= event.email_text %></td>
        <td class="on-date"><%= event.on_date.strftime("%d.%m.%Y") %></td>
        <td class="done-by">
          <% if event.done_by||!event.done_by=='' %>
            <%= event.done_by %>
          <% else %>
            Ні 
            <%= tag.button(onclick:"eventDoneClick(#{event.id})"){"Виконати"}%>
          <% end %>
        </td>


        <td> <%= management_delete( event ) if @current_user.can_delete_events? %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="modal fade" id="eventDoneByModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="eventReportText" class="form-control-label">Звіт:</label>
            <textarea class="form-control" id="eventReportText"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Відміна</button>
        <button type="button" class="btn btn-primary" onclick="submitEventDoneReport()">Ок</button>
      </div>
    </div>
  </div>
</div>
