<table class="table" id="akts-table">
  <thead class="thead-default">
    <tr>
      <th class="small-header">ID</th>
      <th>Тип</th>
      <th>Номер</th>
      <th>До Договору</th>
      <th>Дата акту</th>
      <th>Сума акту</th>
      <th>Нагадування</th>      
      <th>Скан, текст</th>
      <th class="small-header">Підписаний?</th>
      <th class="small-header">Прийнято бухгалтером?</th>
      <th>Відповідальний</th>
      <th>Керування</th>
    </tr>
    <tr>
      <th><input type="text" class="filters" data-filter-on="akt-id"></th>
      <th><input type="text" class="filters" data-filter-on="akt-kind"></th>
      <th><input type="text" class="filters" data-filter-on="akt-number"></th>
      <th><input type="text" class="filters" data-filter-on="akt-contract"></th>
      <th><input type="text" class="filters" data-filter-on="akt-date"></th>
      <th><input type="text" class="filters" data-filter-on="akt-sum"></th>
      <th><input type="text" class="filters" data-filter-on="akt-reminder-type-name"></th>
      <th><input type="text" class="filters" data-filter-on="akt-file-filename"></th>
      <th><input type="text" class="filters" data-filter-on="akt-is-signed"></th>
      <th><input type="text" class="filters" data-filter-on="akt-is-taken"></th>      
      <th><input type="text" class="filters" data-filter-on="akt-responsible-user-name"></th>
      <th><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i><i class="fa fa-info-circle fa-2x" aria-hidden="true" data-toggle="tooltip" title="Фільтри. Активним може бути тільки один фільтр (його підсвічено). Для буь-якого значення використовується символ '.'"></i></th> 
    </tr>    
  </thead>

  <tbody>
    <% @akts.each do |akt| %>
      <tr data-entityId="<%= akt.id%>">
        <td class="akt-id"><%= akt.id %></td>
        <td class="akt-kind"><%= akt.kind %></td>
        <td class="akt-number"><%= akt.number %></td>
        <td class="akt-contract"> 
          <%= link_to akt.contract, class: "management-button" do %>

            <%= akt.contract.name %> № <%=akt.contract.number %> від <%= akt.contract.from_date.strftime("%d.%m.%Y") %> <%="(ID: #{akt.contract_id})" %>
          <% end %>
            

        </td>
        <td class="akt-date"><%= akt.from_date.strftime("%d.%m.%Y") %></td>
        <td class="akt-sum"><%= akt.sum %></td>
        
        <td class="akt-reminder-type-name" >
          <% akt.reminders.each do |r| %>
            <%= link_to "#{r.reminder_type.name} #{r.activeness}", reminder_path(r) %>
          <% end %>
          
          <%= tag.pre link_to "Додати", new_reminder_path(akt_id: akt.id) %>
        </td>


        <td class="akt-file-filename">
          <% if akt.scanfiles %>
            <% akt.scanfiles.each do |sf| %>
               <%= link_to sf.file.filename, sf.url %> <br/>
            <% end %>
          <% end %>          

          <% if akt.textfiles %>
            <% akt.textfiles.each do |tf| %>
               <%= link_to tf.file.filename, tf.url %> <br/>
            <% end %>
          <% end %>    

        </td>


        <td class="akt-is-signed"><%= yn akt.is_signed %></td>
        <td class="akt-is-taken">
            <span><%= yn akt.is_taken_as_original %></span>
            <%= take_button akt, "Прийняти" %>
            <%= 
              # untake_button akt, "Відмінити" 
            %>            
        </td>
        <td class="akt-responsible-user-name"><%= link_to akt.responsible_user.name, user_path(akt.responsible_user.id) %></td>
        <td><%= management_links( akt ) %>

      </tr>
    <% end %>
  </tbody>
</table>
