<table class="table" id="akts-table">
  <thead class="thead-default">
    <tr>
      <th>ID</th>
      <th>До Договору</th>
      <th>Дата акту</th>
      <th>Сума акту</th>
      <th>Скан, текст</th>
      <th>Підписаний?</th>
      <th>Прийнято бухгалтером?</th>
      <th>Відповідальний</th>
      <th>Керування</th>
    </tr>
    <tr data-toggle="tooltip" title="Активним може бути тільки один фільтр (його підсвічено). Для буь-якого значення використовується символ '.'">
      <th><input type="text" class="filters" data-filter-on="akt-id"></th>
      <th><input type="text" class="filters" data-filter-on="akt-contract"></th>
      <th><input type="text" class="filters" data-filter-on="akt-date"></th>
      <th><input type="text" class="filters" data-filter-on="akt-sum"></th>
      <th><input type="text" class="filters" data-filter-on="akt-file-filename"></th>
      <th><input type="text" class="filters" data-filter-on="akt-is-signed"></th>
      <th><input type="text" class="filters" data-filter-on="akt-is-accepted"></th>      
      <th><input type="text" class="filters" data-filter-on="akt-responsible-user-name"></th>
      <th><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i><i class="fa fa-info-circle fa-2x" aria-hidden="true" data-toggle="tooltip" title="Активним може бути тільки один фільтр (його підсвічено). Для буь-якого значення використовуэться символ '.'"></i></th> 
    </tr>    
  </thead>

  <tbody>
    <% @akts.each do |akt| %>
      <tr>
        <td class="akt-id"><%= akt.id %></td>
        <td class="akt-contract"><%= akt.contract.name %> від <%= akt.contract.from_date %> <%="(ID: #{akt.contract_id})" %></td>
        <td class="akt-date"><%= akt.from_date %></td>
        <td class="akt-sum"><%= akt.sum %></td>
        

        <td class="akt-file-filename">
          <% if akt.scanfiles %>
            <% akt.scanfiles.each do |sf| %>
               <%= link_to sf.file.filename, sf.url %> <br/>
            <% end %>
          <% end %>          

          <% if akt.textfiles %>
            <% akt.textfiles.each do |tf| %>
               <%= link_to tf.file.filename, tf.url %> <br/>
            <% end %>
          <% end %>    

        </td>


        <td class="akt-is-signed"><%= akt.is_signed %></td>
        <td class="akt-is-accepted"><%= akt.is_taken_as_original %></td>
        <td class="akt-responsible-user-name"><%= link_to akt.responsible_user.name, user_path(akt.responsible_user.id) %></td>
        <td class="akt-"><%= management_links( akt ) %>

      </tr>
    <% end %>
  </tbody>
</table>
