<%= form_with(model: akt, local: true) do |form| %>
  <% if akt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(akt.errors.count, "error") %> prohibited this akt from being saved:</h2>

      <ul>
      <% akt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contract_id %>
    <%= form.text_field :contract_id, id: :akt_contract_id %>
  </div>

  <div class="field">
    <%= form.label :from_date %>
    <%= form.date_select :from_date, id: :akt_from_date %>
  </div>

  <div class="field">
    <%= form.label :sum %>
    <%= form.text_field :sum, id: :akt_sum %>
  </div>

  <div class="field">
    <%= form.label :scan_path %>
    <%= form.text_field :scan_path, id: :akt_scan_path %>
  </div>

  <div class="field">
    <%= form.label :text_path %>
    <%= form.text_field :text_path, id: :akt_text_path %>
  </div>

  <div class="field">
    <%= form.label :is_signed %>
    <%= form.check_box :is_signed, id: :akt_is_signed %>
  </div>

  <div class="field">
    <%= form.label :is_deleted %>
    <%= form.check_box :is_deleted, id: :akt_is_deleted %>
  </div>

  <div class="field">
    <%= form.label :is_taken_as_original %>
    <%= form.check_box :is_taken_as_original, id: :akt_is_taken_as_original %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
