<!DOCTYPE html>
<html>
  <head>
    <title>Icontract</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


	  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	      <!-- http://v4-alpha.getbootstrap.com/components/navbar/#how-it-works  -->
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
	    <%= fa_link_to('-university', main_path, class: 'navbar-brand') {'Icontract - Менеджмент договорів'} %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link href="#">Меню1</a></li>
          <li class="nav-item"><a class="nav-link href="#">Меню2</a></li>
          <li class="nav-item"><a class="nav-link href="#">Меню3</a></li>
        </ul>

        <%= 'render home/user_zone' %>

      </div><!-- /.navbar-collapse -->

	    
	  </nav>


	  
		<% flash.each do |name, msg| %>
			<%= content_tag :pre, msg, id: "flash#{name}" %>
		<% end %>  

    
    <%= yield %>


  </body>
</html>
