<!DOCTYPE html>
<html>
  <head>
    <title>Icontract</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


	  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	      <!-- http://v4-alpha.getbootstrap.com/components/navbar/#how-it-works  -->
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
	    <%= fa_link_to('-university', sessions_path, class: 'navbar-brand') {'Icontract - Менеджмент договорів'} %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Договори', contracts_path, {class: 'nav-link'} %>
          </li>

          <%= mainmenu_li( {current: request.path, menuitem: contracts_path}, class: "nav-item") do %>
            <%= link_to 'Договори', contracts_path, {class: 'nav-link'} %>
          <% end %>

          <%= mainmenu_item( {current: request.path, menuitem: contracts_path}) {'Договори'} %>


          <li class="nav-item"><%= link_to 'Акти', '#', {class: 'nav-link'} %></li>
          <li class="nav-item"><%= link_to 'Події', '#', {class: 'nav-link'} %></li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Налаштування
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Компанії', companies_path, {class: 'dropdown-item'} %>
              <%= link_to 'Типи договорів', types_path, {class: 'dropdown-item'} %>
              <%= link_to 'Типи подій-нагадувань', reminder_types_path, {class: 'dropdown-item'} %>
            </div>
          </li>



        </ul>

        <%= 'render home/user_zone' %>

      </div><!-- /.navbar-collapse -->

	    
	  </nav>


	  
		<% flash.each do |name, msg| %>
			<%= content_tag :pre, msg, id: "flash#{name}", class: "notice" %>
		<% end %>  

    
    <%= yield %>


  </body>
</html>
