<!DOCTYPE html>
<html>
  <head>
    <title>Icontract</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


	  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	      <!-- http://v4-alpha.getbootstrap.com/components/navbar/#how-it-works  -->
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
	    <%= fa_link_to('-university', sessions_path, class: 'navbar-brand') {'Icontract - Менеджмент договорів'} %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">

          <%= mainmenu_item( {
              current: request.path, 
              menuitem: contracts_path, 
              active: @current_user.can_access_contracts?, 
              synonyms: [contract_path(1)]
          }) {'Договори'} %>

          <%= mainmenu_item( {
              current: request.path, 
              menuitem: akts_path, 
              active: @current_user.can_access_akts?
          }) {'Акти/Документи'} %>

          <%= mainmenu_item( {
            current: request.path, 
            menuitem: reminders_path,
            active: @current_user.can_access_events?,
          }) {'Нагадування'} %>
          
          <%= mainmenu_item( {
            current: request.path, 
            menuitem: events_path,
            active: @current_user.can_access_events?,
          }) {'Події'} %>

          <%= mainmenu_dropdown( {
            current: request.path, 
            menuitems: {'Компанії' => [companies_path, @current_user.can_access_companies?],
                          'Користувачі' => [users_path, @current_user.can_access_users?],
                          'Ролі' => [roles_path, @current_user.can_access_roles?],
                          'Типи договорів' => [types_path, @current_user.can_access_types?], 
                          'Типи нагадувань' => [reminder_types_path, @current_user.can_access_reminder_types?]
                        }
          }) {"Налаштування"}  %>

        </ul>

        
        
      <div id="user-zone">
        <%= render 'users/user_zone' %>  
      </div>
        
      </div><!-- /.navbar-collapse -->

      

	    
	  </nav>


	  
		<% flash.each do |name, msg| %>
			<%= content_tag :pre, msg, id: "flash#{name}", class: "notice" %>
		<% end %>  

    
    <%= yield %>



  <div id="dialog-mail-delivery-failed" title="Помилка">
    <h4>Неможливо доствити пошту до користувачів</h4>
    <div id="message"></div>
  </div>

  </body>
</html>
