<!DOCTYPE html>
<html>
  <head>
    <title>Icontract</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


	  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	      <!-- http://v4-alpha.getbootstrap.com/components/navbar/#how-it-works  -->
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
	    <%= fa_link_to('-university', sessions_path, class: 'navbar-brand') {'Icontract - Менеджмент договорів'} %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">

          <%= mainmenu_item( {current: request.path, menuitem: contracts_path, synonyms: [contract_path(1)]}) {'Договори'} %>

          <%= mainmenu_item( {current: request.path, menuitem: akts_path}) {'Акти'} %>
          <%= mainmenu_item( {current: request.path, menuitem: events_path}) {'Події'} %>

          <%= mainmenu_dropdown( {
            current: request.path, 
            menuitems: {'Компанії' => companies_path,
                          'Users' => users_path,
                          'Roles' => roles_path,
                          'Типи договорів' => types_path, 
                          'Типи нагадувань' => reminder_types_path,
                          'Нагадування' => reminders_path,
                        }
          }) {"Налаштування"}  %>

        </ul>

      </div><!-- /.navbar-collapse -->

      <div class="navbar-brand">
        <input 
          type="radio" 
          name="listType" 
          id="radio-contracts-all" 
          onchange="listChange('<%= all_contracts_path %>')" <%= 'checked' if @list_type && @list_type[:all] %>
        > 
        <label for="radio-contracts-all"> все що мені доступно</label>

        <input 
          type="radio" 
          name="listType" 
          id="radio-contracts-mine" 
          onchange="listChange('<%= mine_contracts_path %>')" <%= 'checked' if @list_type && @list_type[:mine] %>
        > 
        <label for="radio-contracts-mine">тільки моє</label>
       
      </div>
      <div class="navbar-text">
        <%= 'render home/user_zone' %>
      </div>



	    
	  </nav>


	  
		<% flash.each do |name, msg| %>
			<%= content_tag :pre, msg, id: "flash#{name}", class: "notice" %>
		<% end %>  

    
    <%= yield %>


  </body>
</html>
